/* start nav */
.navbar{background-color: white;}
.navbar ul li {margin-left: 5px;}
.navbar ul li button{color: rgb(145, 145, 145);     font-family: 'Cairo', sans-serif;}
.navbar ul li .signup-nav {
    background-color: #095696;
    color: white;
    height: 33px;
    margin-top: 5px;
    width: 135px;
    padding-top: 0px;}
.navbar ul li .signup-nav:hover {background-color: #054070;color: white;}
.navbar ul li .login-nav {
    background-color: #2684D1;
    color: white;
    height: 33px;
    margin-right: 54px;
    width: 135px;
    margin-top: 5px;
    padding-top: 0px;}
.navbar ul li .login-nav:hover {background-color: rgb(52, 143, 218);color: white;}
.navbar ul li .active {color: #095696;}
.navbar div img{width: 125px;}
.navbar{
    padding-left: 70px !important;
    padding-right: 90px !important;
    min-height: 80px;
}
.line hr {
    height: 2px;
    width: 100%;
    margin-top: 85px;
}

/* signup */
.signup {
    padding-top: 20px;
    direction: rtl;
    width: 360px;
    position: relative;
    left: 40%;
    padding-bottom: 70px;
    font-family: 'Cairo', sans-serif;
}
.signup h3{ float: right; margin-bottom: 60px; font-family: 'Cairo', sans-serif; }
.signup form svg {
    position: relative;
    top: -37px;
    left: 10px;
    color: #767676;
}
.signup form svg:hover{ color: #095696; }
.signup form input{
    margin-top: 20px;
    height: 50px;
    border: 2px solid #ccc;
    font-family: 'Cairo', sans-serif;
}
.signup form select
{
    width: 100%;
    height: 50px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-family: 'Cairo', sans-serif;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}
.signup form select option{ font-size: 20px; }
.signup form select option hr{ height: 2px; }
.signup form .country{ margin-top: 20px; }
.signup form .btn{ width: 104%; }
.signup form .btn button{
    background-color: #095696;
    color: #fff;
    float: left;
    width: 140px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}
.signup form .btn button:hover{ background-color: #2684D1; color: white; }
.signup form .btn > a {
    font-size: 15px;
    float: right;
    margin-top: 5px;
    text-decoration: none;
    color: #2684D1;
    font-weight: 600;
    font-family: 'Cairo', sans-serif;
}
.signup form .forget-password{ float: right; }
.signup form .login  { margin-top: 30px; }
.signup form .login a
{
    text-decoration: underline;
    color: #095696;
    font-family: 'Cairo', sans-serif;
}
/* start header */
.header{
    direction: rtl;
    background-color: black;
    color: #CCCCCC;
    padding-top: 50px !important;
    font-family: 'Cairo', sans-serif;
}
.header .logo img{max-width: 60px;}
.header .logo span
{
    color: white;
    font-size: 28px;
    margin-right: 15px;
    letter-spacing: 1px;
}
.header p{color: rgb(192, 190, 190);font-family: 'Cairo', sans-serif;}
.header .contct li p { margin-top: 25px; float: right; font-family: 'Cairo', sans-serif; }
.header h4 {
    margin-right: 37px;
    color: #fff;
    float: right;
    font-family: 'Cairo', sans-serif;
}
.header ul li{ direction: rtl; list-style: none; margin-top: 21px; }
.header ul li a{
    text-decoration: none;
    color: rgb(150, 150, 150);
    font-family: 'Cairo', sans-serif;
}
.header ul li a:hover{color: #095696;}
.header .conect li { float: right; margin-left: 5px; list-style:none; }
.header .conect li a svg {
    color: #2684D1;
    width: 30px;
    height: 30px;
    margin-left: 10px;
}
.header .copyRight{margin-bottom: -1px;padding-bottom: 35px;}
.header > hr{border-top: 2px solid rgba(255, 255, 255, 0.31) !important; }
.header .copyRight span{color: white;font-family: 'Cairo', sans-serif;}

@media only screen and (max-width: 600px) {
    .signup{ left: auto; width: auto; }  
}